@import "tailwindcss";

@font-face{
    font-family: "Caprasimo";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Caprasimo-Regular.woff2") format("woff2"),
        
}
.font-caprasimo {
    font-family: "Caprasimo", cursive;
}